*~
*.class

target
/bin

*.pydevproject
.project
.metadata
bin/**
lib/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
/backEnd.png
/*.ucls
/Thumbs.db