
/*Tokanagrammar secondary css*/




/*-------------------------------START DIFFICULTY  WINDOW CSS--------------------- */
.difficultyBg{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/simpleOnePanel.fw.png");
}

.categoriesText{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/categoriesText.fw.png");
}
.setBtn{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/setBtn.fw.png");
	-fx-background-color: transparent;
}
.setBtn:hover{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/setBtn_HOVER.fw.png");
	-fx-background-color: transparent;
}
.setBtn:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/setBtn.fw.png");
	-fx-background-color: transparent;
}

.difficultyText{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/difficultyText.fw.png");
}

/*-------------------------------END DIFFICULTY WINDOW CSS------------------------ */




/*-------------------------------START CATEGORIES WINDOW CSS--------------------- */
.bg {
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/simpleTwoPanel.fw.png");
}

.startBtn{
	-fx-text-decoration: none;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/startBtn.fw.png");
	-fx-background-color: transparent;
}
.startBtn:hover{
	-fx-text-decoration: none;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/startBtn_HOVER.fw.png");
	-fx-background-color: transparent;
}
.startBtn:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/startBtn.fw.png");
	-fx-background-color: transparent;
}

.closeBtn{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_sm.fw.png");
	-fx-background-color: transparent;
}

.closeBtn:hover{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_sm_HOVER.fw.png");
	-fx-background-color: transparent;
}

.closeBtn:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_sm.fw.png");
	-fx-background-color: transparent;
}
/*-------------------------------END CATEGORIES WINDOW CSS------------------------ */




/*-------------------------------------------------------------------------------- */
/*-------------------------------BANTAM SCREENS----------------------------------- */

.bantam_bg{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/bantamPane.fw.png");
	-fx-background-color: transparent;
}

.bTitleText{
	-fx-font-size: 20;
	-fx-font-family: "Georgia";
	-fx-text-fill: rgb(255, 255, 90);
}
.bCloseBtn{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_bantam_sm.fw.png");
	-fx-background-color: transparent;
}
.bCloseBtn:hover{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_bantam_sm_HOVER.fw.png");
	-fx-background-color: transparent;
}
.bCloseBtn:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/closeBtn_bantam_sm.fw.png");
	-fx-background-color: transparent;
}

.confirmYes{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_yes.fw.png");
	-fx-background-color: transparent;
}
.confirmYes:hover{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_yes_HOVER.fw.png");
	-fx-background-color: transparent;
}
.confirmYes:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_yes.fw.png");
	-fx-background-color: transparent;
}

.confirmNo{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_no.fw.png");
	-fx-background-color: transparent;
}
.confirmNo:hover{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_no_HOVER.fw.png");
	-fx-background-color: transparent;
}
.confirmNo:pressed{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/confirm_no.fw.png");
	-fx-background-color: transparent;
}
.textPane{
	-fx-font-size: 20;
	-fx-font-family: "Georgia";
	-fx-text-fill: rgb(153, 153, 255);
}
/*-------------------------------------------------------------------------------- */

/*-----------------------------PAUSE SCREEN--------------------------------------- */
.pauseBg{
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../images/ui/secondaryScreens/simpleOnePanel.fw.png");
	-fx-background-color: transparent;
}

/*-------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------- */
